<!DOCTYPE html>

<html>
   <head>
      <title>Helpful Microservices | by aidan sabin</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <script src="https://kit.fontawesome.com/6c9d371f5e.js" crossorigin="anonymous"></script>

   <body>
    <h1 class="title">Helpful Microservices</h1>
    <ul class="list">
      <div class="link-set">
        <div class="link-container">
          <li>
            <a href="/timestamp" class="links" id="timestamp">Timestamp Microservice</a>
            <i class="far fa-clock fa-10x"></i>
          </li>
        </div>
        <div class="link-container">
          <li>
            <a href="/header-parser" class="links" id="header-parser">Request Header Parser Microservice</a>
            <i class="far fa-address-card fa-10x"></i>
          </li>
          </div>
        <div class="link-container">
          <li>
            <a href="/url-shortener" class="links" id="shortener">URL Shortener Microservice</a>
            <i class="fas fa-link fa-10x"></i>
          </li>
          </div>
      </div>
      <div class="link-set">
        <div class="link-container">
          <li>
            <a href="/file-metadata" class="links" id="metadata">File Metadata Microservice</a>
            <i class="far fa-file fa-10x"></i>
          </li>
          </div>
        <div class="link-container">
          <li>
            <a href="/exercise-tracker" class="links" id="exercise-tracker">Exercise Tracker Microservice</a>
            <i class="fas fa-running fa-10x"></i>
          </li>
          </div>
      </div>
    </ul>
  </body>
</html>
