<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | by aidan sabin</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1 class="title">Timestamp Microservice</h1>
    <div class="container">
      <h3>How to use this microservice:</h3>
      <p>Retrieve a <strong>unix</strong> and <strong>utc</strong> timestamp by entering a date or unix time in the address bar.</p>
      <p>The correct format is <em>[url]/api/yyyy-mm-dd</em> or <em>[url]/api/unixCodeGoesHere</em>.</p>
      <h3>Examples:</h3>
      <ul>
        <li class="time-example"><a class="time-ex-a" href="api/2015-12-25">[project url]/api/2015-12-25</a></li>
        <li class="time-example"><a class="time-ex-a" href="api/1451001600000">[project url]/api/1451001600000</a></li>
      </ul>
    </div>
    <div class="footer">
      <p>By <a class="signature" href="https://github.com/aidansabin">aidan sabin</a></p>
    </div>
  </body>
</html>
